body{
    background:linear-gradient(rgb(217, 176, 255),rgb(151, 86, 176));
    width:100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
label{
    font-size: large;
    font-weight: bold;
}
input{
    border-radius: 10px;
    width:200px;
    height: 30px;
}