*{
    margin: 0px;
    padding: 0px;
}
#main{
    background:linear-gradient(   rgb(4, 11, 49),rgb(26, 1, 1));
    width: 100%;
    height: 100vh;
    position: relative;
   
}

#title{
    display: flex;
    justify-content: center;
    color:antiquewhite;
    font-size: 20px;
   
   
    
}
.themeicon{
   display:flex;
  position: absolute;
  right: 20px;
  top:10px;
   
}

#listtable{
 
    padding: 20px;
    
}

th{
    padding: 40px;
    font-weight: bold;
    font-size: larger;
    color:antiquewhite;
}


.table{
    display: flex;
    justify-content: center;
    text-align: center;
}

a{
    color:antiquewhite;
    font-size: 20px;
    text-align: left;
}
a:hover{
    color:silver;
    font-size: large;
    
}
button{
    outline: none;
    border: none;
}
.delete{
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background-color: crimson;   
}
.delete:hover{
    font-size: medium;
    
    
}
.edit{
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    background-color: gold;
}
.edit:hover{
    font-size: medium;    
}
.template{
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    background:linear-gradient(  90deg, rgb(176, 113, 194),rgb(247, 156, 171),rgb(129, 13, 59));
}
.template:hover{
    font-size: medium;
    
    
}

