<html>
    <head>

    </head>
    <body>
        
        
           
                        
        
        <form action="/newbook" method="POST"> 

            <label for="id">Book id:</label>
            <input type="number"name="id"/>
            

            <label for="title">Book Title:</label>
            <input type="text"name="title"/>
            
            <label for="author">Author Name:</label>
            <input type="text"name="author"/>

            <input type="submit" value="submit"/>
            <input type="submit" value="delete"/>
         
       
        </form> 
    </body>
</html>

