.one{
    min-width:25%;
}
.two{
    background-color: rgb(0, 0, 255);
    color: black;
    max-width:25%;
}
.three{
    background-color: rgb(255, 8, 0);
    color: black;
    max-width:10px;
}
.four{
    background-color: rgb(162, 255, 0);
    color: black;
    min-width:10px;
}

.img1{
    max-width: 10%;
}
.img2{
    min-width: 10%;
}