
.bigbox{
    background-image: url(uni.jpg);
    width: 500px;
    height: 500px;
    margin:100px auto;
    
    
}
.image{
   
    text-align: center; 
    position: relative;
    margin:auto;
   
    

}
img{
   
    max-width: 300px;
    max-height: 300px;
    margin-top:80px;
    border: 5px solid rgb(0, 247, 255);
 
    
   
   
}
h3{
    position: absolute;
    color: rgb(240, 5, 237);
    font-size: xx-large;
    /* width: 20px;
    height: 25px; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifccccccccccc;
    margin: auto;
    top:0px;
    left:0px;
    bottom: 0;
    right: 0;
    line-height:450px;
    
}