
body{
    /* border:10px solid rgb(4, 145, 86);
    margin:0; */
    background-color: rgb(47, 186, 186);
    font-family: sans-serif;
    
}
.section1{
    display: inline-block;

}
.head1{
    background-color: black;
    color: white;
    display: inline-block;
    border:1px solid black;
    width:373px;
    height: 160px;
    
    margin-right: -5px;
}
.head1 h3{
        margin: 40px 25px 10px;
}
.head1 p{
    margin: 10px 25px 20px;
    line-height: 25px;
}
.head2{
    display:inline-block;
    background-color: royalblue;
    color: white;
    border:1px solid royalblue;
    width:373px;
    height: 160px;
    vertical-align: top;
    margin-right: -5px;
    line-height: 120px;
    text-align: center;
}
.head3{
    display:inline-block;
    background-color: rgb(22, 206, 83);
    color: white;
    border:1px solid rgb(22, 206, 83);
    width:373px;
    vertical-align: top;
    height: 160px;
    margin-right: -5px;
    line-height: 120px;
    text-align: center;
}
.head4{
    display: inline-block;
    background-color: black;
    color: white;
    border:1px solid black;
    width:373px;
    vertical-align: top;
    height: 160px;
    line-height: 120px;
    text-align: center;
}
.section2{
    display: inline-block;
    vertical-align:top;
    width: 50%;
   
}
.ash1{
    
    background-color:rgb(44, 47, 76);
    color: white;
    border:1px solid rgb(44, 47, 76);
    width:373px;
    vertical-align: top;
    height:450px;
    display: inline-block;
    /* text-align:left; */
    padding-bottom:5px;
}
.ash1 h3{
    margin:120px 40px 0 10px;
    line-height: 100px;
}
.ash1 p{
    margin:-25px  0 0px 130px;
}
.ash2{
    display: inline-block;
    background-color:rgb(44, 47, 76);
    color: white;
    border:1px solid rgb(44, 47, 76);
    width:373px;
    vertical-align: top;
    height:456px;
    
    text-align:left;
    margin-left:1122px;
    margin-top:-458px ;
    font-family:sans-serif;
}
.ash2 h3{
    text-align: center;
    margin: 150px 40px 0 60px;
}
.ash2 p{
    margin:10px 40px 0 60px;
    line-height: 25px;
}
.middle1{
    background-color:black;
    color: white;
    border:1px solid black;
    width:747px;
    vertical-align: top;
    height:300px;
    display: inline-block;
    text-align: center;
    margin-left:374px;
    margin-top:-457px ;
   
  
}
.middle2{
    display:inline-block;
    background-color: royalblue;
    color: white;
    border:1px solid royalblue;
    width:373px;
    height: 159.99px;
    vertical-align: top;
    /* margin-right: -3px; */
    /* line-height: 120px; */
    text-align: left;
    margin-top:-5px;
    margin-left: 1px;
    
}
.middle2 h3{
    margin: 25px;
}
.middle2 p{
    margin-left: 22px;
    font-size: medium;
    line-height: 25px;
}
.middle3{
    display:inline-block;
    background-color: rgb(22, 206, 83);
    color: white;
    border:1px solid rgb(22, 206, 83);
    width:373px;
    vertical-align: top;
    height: 159.99px;
    margin-right: -5px;
    /* line-height: 120px; */
    text-align: left;
    margin-left:375px;
    margin-top:-161px ;
}
.middle3 h3{
    margin: 25px;
}
.middle3 p{
    margin-left: 22px;
    font-size: medium;
    line-height: 25px;
}
.bluegreen{
    vertical-align: top;
    display: inline-block;
    margin-left:373px;
    margin-top:-156px ;
}
.ash1 h3{
    text-align: center;

}
.middle1 h3{
    margin: 70px 60px 10px;
}
.middle1 p{
    margin: 10px 60px 60px;
    text-align: justify;
    line-height: 25px;
}

