.main{
    display: flex;
    margin-left: 0px;
    justify-content: space-evenly;
}

.input_container input{
    width:200px;
    border:1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    text-align: left;
    
}
h1{
    text-align: center;
}
.register{
    height: 600px;
    overflow-y: scroll;
}
pre{
    width: 250px;
    border:1px solid black;
    height:600px;
    overflow-y: scroll;
    
}
