.container{
    display: flex;
    height:600px;
    background-color: palevioletred;
    
    
}
.item{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin:10px;
    flex-basis: 200px;
}

.item{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}




.item1:hover{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    margin:10px;
    /* flex-basis:800px;
    */
    flex-direction: row;
    flex-grow: 800px;
}
.container  :nth-of-type(2){
    background-color: red;
    align-self:  center;

}