<html>
    <head>

    </head>
    <body>
        
           
                        
        
        <form action="/addupdate" method="POST">
            
            <label for="id">Id:</label>
            <input type="number"name="id"/>

            <label for="name">Name:</label>
            <input type="text"name="name"/>

            <label for="age">Age:</label>
            <input type="number"name="age"/>

            <input type="submit" value="Update">

            
       
        </form> 
    </body>
</html>

