h1{
    border:1px solid red;
    text-align: center;
    display: inline;
}
.list li{
    border: 1px solid red;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

}
.para{
    text-align: justify;
    border: 1px solid black;
   
    margin:0 100px;
    padding: 15px 15px;
    
}
