*{
    font-size:x-large;
    font-family: "Poppins", sans-serif;
}

.header{
    border:2px solid black;
    display: flex;
    align-items: center;
    width:99%;
    height:150px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.main{
    display:flex;
    gap:10px;
}
.sidebar1{
    border:2px solid black;
    height: 510px;
    width:26%;
    padding-top: 20px;
    padding-left: 20px;
}
.sidebar2{
    border:2px solid black;
    height: 510px;
    width:26%;
    padding-top: 20px;
    padding-left: 20px;
}
.mainbar{
    border:2px solid black;
    height: 510px;
    width:55%;
    padding-top: 20px;
    padding-left: 20px;
}