*{
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient(to bottom , #0c1821,#003554,#003249,#003249,#0c1821);
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
   
}
.container{
    width: 50%;
    height: 500px;
    border-radius: 10px;
    
    margin-top: 100px; 
    background:linear-gradient(#003249,#003554,#003249, #0c1821); 
    
}

.heading{
    text-align: center;
    color:rgb(200, 210, 219);
    font-size:x-large;
    padding: 5px;
}
.inputdivision{
    text-align: center;
    padding: 10px;
   
}
#inputbox{
    width: 50%;
    border-radius: 10px;
    padding:10px;
    border: none;
    outline: none;
    font-size: medium;

}
#add{
    width:10%;
    border-radius: 10px;
    padding:10px;
    background-color: gray;
    border: none;
    outline: none;
    font-size: medium;
    
    
    
}
#add:hover{
    opacity:0.5;
    color:gainsboro;
    background-color: #0c1821;
   
}
.section{
    display: flex;
    justify-content: space-evenly;
    padding-top:30px;
    width: 60%;
    gap:-50px;
    border: 1px solid black;
    margin-left:150px;
    overflow-y: scroll;
    scrollbar-color:black;
    -webkit-scrollbar-color:black ;
    height: 250px;
}
hr{
    width: 60%;
    margin-left:150px;
    margin-top: 10px;
    
}
.list{
    padding: 10px;
    width: 65%;
    margin-left: 0px;
    border-radius: 6px;
    color: aliceblue;
    background-color: #003554;
    
    /* border: none;
    outline: none; */
   

}
#listdiv{
    width:80%;
    text-align:center;
    
   
    
}

.edit{
   
    gap:10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #003554;
    font-size: large;
}
.delete{
  
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #003554;
    color: crimson;
    font-size:large;
   
}
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    
}
.footer div{
    color:rgb(200, 210, 219);
    font-size: large;
}
.footer button{
    color:rgb(200, 210, 219);
    background-color: crimson;
    font-size:medium;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    margin-top:-5px;
}

li{
    margin-left:-400px;
}


  
  
  ul li::before{
    content:"";
    position: absolute;
    right: 350px;
    top:10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(png-circle-9.png);
    background-size: cover;
    background-position: center;
   
    
   
  }
  li::after{
    margin-left:-180px;
   
   
  }
  
  ul li.checked{
    color:black;
    text-decoration: line-through;
  }
  ul li.checked::before{
    background-image: url(bright-green-tick-checkmark-icon-free-png.webp);
  }
  