

*{
    font-family:"Cormorant Upright", serif;
}


body{
   
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    /* vertical-align: middle; */
   
    background-image: url(4633104.png);
   
    
    
}
body:hover{
  background-image: url(wp6533702.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  transition-property:none;
  transition-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration:2s;
  
 
}

h2{
    text-align: center;
    font-size:50px;
    letter-spacing: 1px;
    margin-top:0px;
    color:rgb(6, 6, 48);
    font-weight: bold;
    font-family: "Cormorant Upright", serif;
}
.container{
    margin-top: 100px;
    position: absolute;
    width:50%;
    background-color:white;
    align-items: center;
    height:70vh;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 2px  rgb(6, 6, 48);
    
    text-align: center;
   background: transparent;
   backdrop-filter: blur(20px);
    
   
    
}
.footer button{
    border-radius: 3px;
    
    background-color:orangered;
    width: fit-content;
    height: fit-content;
}
.main{
   
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  /* background: linear-gradient( to right,rgb(137, 89, 224), rgb(156, 137, 239)); */
  background:space;
  backdrop-filter:blur(8px)
 
  /* background:linear-gradient(to right, rgb(32, 0, 101),rgb(96, 0, 231)) */
  
}  
.main,
.main::placeholder{
  font-size: x-large;
  color:rgb(17, 3, 47);
}
.container:hover{
  opacity:1;
  transition: 10s;
}
.add {
    border-radius: 10px;
    
    padding: 6px;
    background-color:rgb(6, 6, 48) ;
   color: white;
   width: 10%;
   margin: 10px;
   position:absolute;
   right:180px;
   border: none;
   outline: none;
   

}
/* .list{
  width:50%;
  height: 100px;
  margin:50px;
 
  margin-left: 190px;
  
}
ul{
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  border: 1px solid rgb(111, 0, 74);
 
  
} */
ul li{
  user-select: none;
  cursor: pointer;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  list-style: none;
  position: relative;
  margin-left:-20px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(3, 3, 53);
  font-size:xx-large;
  margin-top:-10px;
  font-weight:bold;
  font-family: "Cormorant Upright", serif;
 
 


  
}

img{
  width: 30px;
  height: 30px;
 
 
 
  
 

}



ul{
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  height: 170px;
  overflow-y: scroll;
  overflow-x:hidden;
  width: 50%;
  margin-left:-140px;
  scrollbar-color: navy;
  margin-left:160px;
 
 
  
  scroll-behavior: smooth;
}
ul::-webkit-scrollbar{
  width: 10px;
  
}
ul::-webkit-scrollbar-thumb{
 background-color:rgb(17, 3, 47);
 border-radius: 20px;
 
}
ul::-webkit-scrollbar-track{
  background:linear-gradient(to top,rgb(137, 89, 224), rgb(156, 137, 239));
  border-radius: 20px;
 }

ul li::before{
  content:"";
  position: absolute;
  right: 350px;
  top:24px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(png-circle-9.png);
  background-size: cover;
  background-position: center;
 
  
 
}
li::after{
  margin-left:-160px;
 
 
}

ul li.checked{
  color:black;
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(bright-green-tick-checkmark-icon-free-png.webp);
}



 hr{
    width:52%;
    stroke-opacity: 0.8px;
    background-color: navy;
    border-style:solid;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin: 0px 180px 0px 180px;
    text-align: center;
} 
.footer p{
  margin-left:-220px;
  margin-top:-1px;
}
.footer div{
  font-size: x-large;
  color:rgb(17, 3, 47);
}
